/* Oda */

:root {
    --primary-color: #012A4A;
    --secondary-color: #01497C;
    --tertiary-color: #61A5C2;
    --quaternary-color: #89C2D9;
    --quinary-color: #fed9f6;
    --senary-color: #cd4883d9;
    --septenary-color: #fef0fa;
}


#nettmobbing {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
}

#nettmobbing p {
    font-size: 18px; 
}

.statestikk {
    background-color: var(--senary-color);
    color: white; 
}

.statestikk h2 {
    font-size: 60px;
    text-align: center;
}

#nettmobbing div:nth-of-type(1) {
    grid-column: span 2;
}

#nettmobbing div:nth-of-type(4) {
    grid-column: span 2;
    margin-top: 30px;
}

#paragraf i, #ulovlig i {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paragraf i {
    padding: 20px;
    font-size: 120px;
    color: var(--secondary-color)
}

#nettmobbing div:nth-of-type(5) {
    grid-column: span 2;
}

#ulovlig i  {
    padding: 20px;
    font-size: 120px;
    color: var(--quaternary-color)
}

#ulovlig {
    display: none;
}

#nettmobbing div {
    margin: 5px; 
    padding: 15px; 
}

#ressurser {
    font-size: 18px; 
    margin-bottom: 100px; 
}

#ressurser div:nth-of-type(1) {
    grid-column: span 3; 

}

#ressurser div {
    margin: 5px; 
    padding: 15px; 
}

#ressurser img {
    height: 120px; 
    align-content: center;
}

#ressurser a {
    color: var(--senary-color)
}

@media only screen and (min-width: 800px) {
    #ressurser {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 

    }
  }