/* Oda */
#nettmobbing {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
}

#nettmobbing p {
    font-size: 18px; 
}

.statestikk {
    background-color: #333;
    color: white; 
}

.statestikk h2 {
    font-size: 60px;
    text-align: center;
}

#nettmobbing div:nth-of-type(1) {
    grid-column: span 2;
}

#nettmobbing div:nth-of-type(4) {
    grid-column: span 2;
}

#nettmobbing div {
    margin: 5px; 
    padding: 15px; 
}

#ressurser {
    font-size: 18px; 
}

#ressurser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

#ressurser div:nth-of-type(1) {
    grid-column: span 3; 

}

#ressurser div {
    margin: 5px; 
    padding: 15px; 
}

#ressurser img {
    width: 160px;
    height: 120px; 
}
