/* Minimal CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

main {
    max-width: 800px;
    margin: auto;
}

/* Erika */
.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.slide {
    display: none;
}

img {
    width: 100%;
    height: 500px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}




/* Oda */
.fenomen {
    padding: 20px;
    margin: 10px;
}

#tuttifrutti {
    display: flex;
    flex-wrap: wrap;
}

#tuttifrutti h2 {
    font-size: 50px;
    padding: 20px;
}

#tuttifrutti h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

i {
    font-size: 100px;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 15px;
    padding-bottom: 5px;
}

li {
    font-size: 15px;
}

.flip-card {
    background-color: transparent;
    width: 245px;
    height: 350px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: pink;
    padding: 20px;
    color: black;
}

.flip-card-back {
    background-color: pink;
    transform: rotateY(180deg);
}




/* Johanne */

nav {
    height: 80px;
    width: 100%;
    background: lightblue;
}

label.logo {
    font-size :35px;
    font-weight : bold;
    color : white;
    padding : 0px 100px;
}

nav ul {
    float : right;
    margin-right : 40px;
}

nav li {
    display: inline-block;
    margin : 0 8px;
    line-height: 80px;
}