/*
font-family: 'Comfortaa', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* Minimal CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

main {
    max-width: 800px;
    margin: auto;
    margin-top: 115px;
    font-family: 'Comfortaa', sans-serif;
}

body {
    background-color: ghostwhite;
}

:root {
    --primary-color: #012A4A;
    --secondary-color: #01497C;
    --tertiary-color: #61A5C2;
    --quaternary-color: #89C2D9;
    --quinary-color: #fed9f6;
    --senary-color: #cd4883d9;
    --septenary-color: #fef0fa;
}

/* Nav-bar */

header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: row;
}

.logo i {
    font-size: 40px;
    margin-left: 30px;
}

.logo a {
    margin-left: 2px;
    color: white;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    font-size: 40px;
}

.right-sections ul {
    list-style-type: none;
    margin-right: 0px;
    font-family: 'Comfortaa', sans-serif;
}

.right-sections ul li {
    display: inline;
}

.right-sections ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

.right-sections ul li a:hover {
    text-decoration: underline;
}

.logo i {
    margin-left: 40px;
}

@media screen and (max-width: 760px) {
    .right-sections ul {
        background-color: #012A4A;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        display: none;
    }

    .right-sections ul.active {
        display: block;
    }

    .right-sections ul li {
        display: block;
        padding: 10px 0;
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle {
        display: none;
        color: #ffffff;
        font-size: 24px;
        cursor: pointer;
        margin-right: 20px;
    }
}


/* Footer */
footer {
    background-color: var(--primary-color);
    padding-bottom: 100px;
    padding-top: 50px;
    color: white;
    font-family: 'Comfortaa', sans-serif;
}

#footer {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20%;
}

footer h4 {
    font-size: larger;
    margin-bottom: 15px;
}

footer p {
    font-size: small;
    margin-top: 5px;
}

.FooterContainer {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

footer i {
    font-size: 15px;
    padding-top: 8px;
}


@media only screen and (max-width: 900px) {
    #footer {
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
        justify-items: center;
        width: 100%;
    }

    #footer div:first-of-type {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #footer h4,
    p:first-of-type {
        padding: 0px;
    }

    .om-oss {
        margin: 15px 15px;
    }
}

@media only screen and (max-width: 900px) {
    main {
        margin-top: 200px;
    }

    div.right-sections ul li a {
        padding: 7px;
        font-size: 11px;
    }

    .nav-toggle {
        display: block;
        /* Viser hamburgermeny-ikonet på alle skjermer */
        color: #ffffff;
        font-size: 24px;
        cursor: pointer;
        margin-right: 20px;
        /* Juster avstanden etter behov */
    }
}

@media screen and (min-width: 760px) {
    .nav-toggle {
        display: none;
        /* Skjuler hamburgermeny-ikonet på større skjermer */
    }
}