/* Minimal CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

main {
    max-width: 800px;
    margin: auto;
}

/* Footer */
footer {
    background-color: black;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
}

#footer {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20%;
}

footer h4 {
    font-size: larger;
    margin-bottom: 15px;
}

footer p {
    font-size: small;
    margin-top: 5px;
}

.FooterContainer {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}
footer i {
    font-size: 15px;
}



/* Oda */
.fenomen {
    padding: 20px;
    margin: 10px;
}

#tuttifrutti {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#tuttifrutti h2 {
    font-size: 50px;
    padding: 20px;
}

#tuttifrutti h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

i {
    font-size: 100px;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 13px;
    padding-bottom: 5px;
}

li {
    font-size: 13px;
}

.flip-card {
    background-color: transparent;
    width: 245px;
    height: 350px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: pink;
    padding: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flip-card-back {
    background-color: pink;
    padding: 25px;
    transform: rotateY(180deg);
}




/* Johanne */

nav {
    background-color:blue; /* Bakgrunnsfarge */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff; /* Tekstfarge */
}

nav ul li a:hover {
    background-color: #555; /* Farge når hover */
}

