:root {
    --primary-color: #012A4A;
    --secondary-color:#01497C;
    --tertiary-color: #61A5C2;
    --quaternary-color:#89C2D9;
    --quinary-color: #fed9f6;
    --senary-color: #cd4883d9; 
    --septenary-color: #fef0fa; 
  }


body {
    background-color: ghostwhite;
    color:black
}

section:nth-child(1) {
    margin-bottom: 75px;
}

.dark-mode {
    background-color: black;
    color:white
}

button {
    padding:10px;
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    float: right;
}

section {
    margin-bottom: 40px;
}

.boks {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: white;
}

h1 {
    font-size: 65px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    text-shadow: 3px 3px 3px grey;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size:50px;
    text-shadow: 2px 2px 2px lightgrey;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 12px;
    padding: 15px;
    padding-top: 10px;
    text-align: center;
    color: black;
}

p {
    font-size: 20px;
}

.bredde_container {
    max-width: 560px;
}

.bak {
    display: none;
    width: 220px;
}

.bak img {
    margin-left: 20px;
    margin-right: 15px;
    text-align: center;
    color: black;
}

.flipCard .foran {
    display: none;
}

.flipCard .bak {
    display: block;
}

.uu i {
    padding: 45px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 115px;
    text-align: center;
}

#syn {
    color: rgb(90, 155, 230);
    border-style: dotted;
    border-color: rgb(90, 155, 230);
    border-radius: 20px;
    border-width: medium;
}

#kontrast {
    /* rgb(251, 18, 103) */
    color: magenta;
    border-style: dotted;
    border-color: magenta;
    border-radius: 20px;
    border-width: medium;
}

#lyd {
    color: coral;
    border-style: dotted;
    border-color: coral;
    border-radius: 20px;
    border-width: medium;
}

@media only screen and (max-width: 900px) {
    .uu {
        margin: 0 auto;
        margin-top: 125px;
    }

    h1 {
        font-size: 70px;
    }
  
    button {
        padding: 5px;
        font-size: 15px;
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 17px;
    }
  
    .boks {
        display: grid;
        grid-template-rows: 2fr 1.3fr;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    div .fa-solid {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .bredde_container {
        max-width: 100%;
        padding: 15px;
        padding-bottom: 0px;
    }

    .uu i{
        padding-top: 0px;
        padding-top: 0px;
        padding-bottom: 5px;
    }

  }

  @media only screen and (max-width: 600px) {
    .uu {
        margin: 15px;
        margin-top: 125px;
    }

    h1 {
        font-size: 40px;
    }
  
    button {
        padding: 3px;
        font-size: 8px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }
  }