* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    background-color: ghostwhite;
    color:black
}

main {
    max-width: 800px;
    margin: auto;
}

section:nth-child(1) {
    margin-bottom: 75px;
}

.dark-mode {
    background-color: black;
    color:white
}

button {
    padding:10px;
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    float: right;
}

section {
    margin-bottom: 40px;
}

.boks {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: white;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    text-shadow: 3px 3px 3px grey;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size:50px;
    text-shadow: 2px 2px 2px lightgrey;
}

h4 {
    font-size: 20px;
}

h5 {
    padding: 20px;
    padding-top: 10px;
    text-align: center;
    color: black;
}

p {
    font-size: 25px;
}

.bredde_container {
    max-width: 560px;
}

.bak {
    display: none;
    width: 220px;
}

.bak h4 {
    max-width: 100px;
    margin: auto;
    text-align: center;
    color: black;
}

.flipCard .foran {
    display: none;
}

.flipCard .bak {
    display: block;
}

i {
    padding: 45px;
    padding-bottom: 5px;
    font-size: 115px;
    text-align: center;
}

#syn {
    color: rgb(90, 155, 230);
    border-style: dotted;
    border-color: rgb(90, 155, 230);
    border-radius: 20px;
    border-width: medium;
}

#kontrast {
    color: magenta;
    border-style: dotted;
    border-color: magenta;
    border-radius: 20px;
    border-width: medium;
}

#lyd {
    color: coral;
    border-style: dotted;
    border-color: coral;
    border-radius: 20px;
    border-width: medium;
}


