body {
    background-color: ghostwhite;
}

section {
    margin-bottom: 20px;
}

.boks {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    font-size: 60px;
}


p {
    font-size: 20px;
}

h2 {
    font-size: 45px;
}

i {
    padding: 30px;
}

#syn {
    color: rgb(90, 155, 230);
}

#kontrast {
    color:magenta;
}

#lyd {
    color:coral;
}