/* Memory game */

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
  --primary-color: #012A4A;
  --secondary-color: #01497C;
  --tertiary-color: #61A5C2;
  --quaternary-color: #caf0f8;
  --quinary-color: #fed9f6;
  --senary-color: #cd4883d9;
  --septenary-color: #fef0fa;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  box-sizing: content-box;
  width: 430px;
  padding: 2em 2.5em;
  margin: 50px auto;
  background-color: #ffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 15px;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.instructions,
#highscore-container {
  padding: 20px;
  font-family: 'Handlee', cursive;
  font-weight: 600;
  width: 400px;
  line-height: 2;
  margin-left: 25px;
  position: relative;
  border-radius: 20px;
}

#highscore-container {
  margin-top: 400px;
  font-size: 18px;
  background-color: var(--quaternary-color);
  border: 0.5px solid var(--tertiary-color);
}

.instructions {
  margin-top: 50px;
  z-index: 1;
  background-color: var(--septenary-color);
  border: 0.5px solid var(--senary-color);
  font-size: 16px;
}

.game-container {
  position: relative;
  width: 100%;
  display: grid;
  gap: 0.6em;
}

.stats-container {
  text-align: right;
  margin-bottom: 1.2em;
}

.stats-container span {
  font-weight: 600;
}

.card-container {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.card-before,
.card-after {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--senary-color);
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}

.card-before {
  background-color: var(--quinary-color);
  font-size: 2.8em;
}

.card-after {
  background-color: var(--septenary-color);
  transform: rotateY(180deg);
}

.card-container.flipped .card-before {
  transform: rotateY(180deg);
}

.card-container.flipped .card-after {
  transform: rotateY(0deg);
}

.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 815px;
  background-color: var(--quinary-color);
  top: 0;
}

button {
  border-radius: 0.3em;
  padding: 1em 1.5em;
  cursor: pointer;
}

#stop {
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
  border: 1px solid black;
}

.controls-container button {
  font-size: 1.4em;
  box-shadow: 0 0.4em 0.5em rgba(86, 66, 0, 0.155);
}

.hide {
  display: none;
}

#result {
  text-align: center;
}

#result h2 {
  font-size: 2.5em;
}

#result h4,
.resultTime h4,
.highScore h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}

img {
  width: 90px;
}

/* Kort */

.fenomen {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

#fenomen_section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}

#fenomen_section h2 {
  font-size: 48px;
  padding: 20px;
}

#fenomen_section h3 {
  font-size: 30px;
  padding-bottom: 10px;
}

i {
  font-size: 100px;
  text-align: center;
  padding: 10px;
}

#fenomen_section p {
  font-size: 13px;
  padding-bottom: 5px;
}

#fenomen_section li {
  font-size: 13px;
}

.flip-card {
  background-color: transparent;
  width: 245px;
  height: 350px;
  border: 1px solid var(--senary-color);
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: var(--quinary-color);
  padding: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flip-card-back {
  background-color: var(--quinary-color);
  padding: 25px;
  transform: rotateY(180deg);
}