/* Font og farger */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/*
font-family: 'Comfortaa', sans-serif;
*/

:root {
    --background-color: ghostwhite;
    --main-font-color: black;

    --primary-color: #012A4A;
    --secondary-color: #01497C;
    --tertiary-color: #61A5C2;
    --quaternary-color: #89C2D9;
    --quinary-color: #fed9f6;
    --senary-color: #cd4883d9;
    --septenary-color: #fef0fa;

}

/* Generelt */

main {
    color: var(--main-font-color);
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
}

body {
    background-color: var(--background-color);
}

a {
    color: var(--main-font-color);
}

/* GDPR */
#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../bilder/personvern.png);
    color: var(--hero-font-color);
    background-size: cover;
    background-position: center;
    padding: 250px 200px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

h1 {
    font-size: 65px;
    text-align: center;
    text-shadow: 3px 3px 3px grey;
    background-color: rgba(0, 0, 0, 40%);
    color: rgb(255, 255, 255);
    font-family: 'Comfortaa', sans-serif;
    width: 500px;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
}

#GDPR {
    display: grid;
    grid-template-columns: 300px 500px;
    background-color: #d0f8ff;
    margin-top: 70px;
}

#GDPR_sirkel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    height: 400px;
}

#main-image {
    margin-top: 70px;
    height: 200px;
}

.image-container {
    position: relative;
}

.icon {
    position: absolute;
    text-align: center;
    transform-origin: center bottom;
}

#GDPR_sirkel i {
    font-size: 40px;
    color: skyblue;
    padding-bottom: 20px;
}

.hidden_box {
    display: none;
    width: 500px;
    padding-left: 50px;
    padding-top: 110px;
}

.hidden_box h2 {
    font-size: 30px;
    color: #012A4A;
}
.hidden_box i {
    color: #012A4A;
    font-size: 100px;
    padding-left: 20px;
}

.box_grid {
    display: grid;
    grid-template-columns: 1fr 150px;
    width: 400px;
}

.active_box {
    display: block;
}

.active_icon {
    color: #012A4A;
    font-size: 50px;
}

.icon:not(:hover) {
    z-index: 1; 
}

#icon_collection_1 {
    transform: rotate(-45deg) translateY(-80px);
}

#icon_collection_2 {
    transform: rotate(-90deg) translateY(-80px);
}

#icon_collection_3 {
    transform: rotate(-135deg) translateY(-80px);
}

#icon_collection_4 {
    transform: rotate(-180deg) translateY(-80px);
}

#icon_collection_5 {
    transform: rotate(45deg) translateY(-80px);
}

#icon_collection_6 {
    transform: rotate(90deg) translateY(-80px);
}

#icon_collection_7 {
    transform: rotate(135deg) translateY(-80px);
}

#icon_collection_8 {
    transform: rotate(0deg) translateY(-80px);
}

#definition {
    font-weight: bold;
}
#personvern {
    background-color: lightcyan;
    margin: 25px 0;
    padding: 50px;
}

#cookies-intro {
    background-color: var(--quinary-color);
    margin: 15px 0;
    padding: 50px;
}

.videreføring {
    text-decoration: underline;
    color: darkblue;
}


#cookies {
    background-color: beige;
    padding: 50px;
    max-width: 800px;
    margin: 15px 0;
}

#arrow {
    height: 200px;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 1000px) {
    #hero {
        padding: 245px 200px;
    }

    h1 {
        font-size: 60px;
    }

    .intro{
        margin: 15px;
    }

    #cookies,
    #cookies-intro,
    #personvern {
        margin: 25px;
    }
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 55px;
        width: auto;
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 17px;
    }

    main{
        margin-top: 115px;
    }

    .GDPR-intro {
        margin: 0px 15px;
    }
}

@media only screen and (max-width: 800px) {

    #hero {
        padding: 255px 150px;
    }
    h1 {
        font-size: 40px;
    }

    #GDPR {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
        padding-bottom: 100px;
    }
    .hidden_box {
        width: 400px;
        padding-left: 15px;
    }
    
    .hidden_box h2 {
        font-size: 20px;
    }

    .hidden_box p {
        font-size: 15px;
    }
    .hidden_box i {
        font-size: 50px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }
    #hero {
        padding: 235px 150px;
    }
}