/* Font og farger */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/*
font-family: 'Comfortaa', sans-serif;
*/

:root {
    --background-color: ghostwhite;
    --main-font-color: black;

    --primary-color: #012A4A;
    --secondary-color: #01497C;
    --tertiary-color: #61A5C2;
    --quaternary-color: #89C2D9;
    --quinary-color: #fed9f6;
    --senary-color: #cd4883d9;
    --septenary-color: #fef0fa;

}

/* Generelt */

main {
    color: var(--main-font-color);
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
}

body {
    background-color: var(--background-color);
}

a {
    color: var(--main-font-color);
}

/* GDPR */
#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../bilder/personvern.png);
    height: fit-content;
    color: var(--hero-font-color);
    background-size: cover;
    background-position: top;
    padding: 200px 20px;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 65px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    text-shadow: 3px 3px 3px grey;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    font-family: 'Comfortaa', sans-serif;
    width: 500px;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
}

#GDPR {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#GDPR_sirkel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    height: 500px;
}

#main-image {
    margin-top: 70px;
    height: 300px;
}

.image-container {
    position: relative;
}

.icon {
    position: absolute;
    text-align: center;
    transform-origin: center bottom;
}

.icon i {
    font-size: 40px;
    color: skyblue;
    padding-bottom: 20px;
}

.icon h2,
.icon p {
    display: none;
    position: relative;
}

.icon:hover h2,
.icon:hover p {
    z-index: 2;
    display: block;
    background-color: lightblue;
    width: 600px;
}

.icon:not(:hover) {
    z-index: 1; 
}

.icon_collection_1 {
    transform: rotate(-45deg) translateY(-120px);
}

.icon_collection_2 {
    transform: rotate(-90deg) translateY(-120px);
}

.icon_collection_3 {
    transform: rotate(-135deg) translateY(-120px);
}

.icon_collection_4 {
    transform: rotate(-180deg) translateY(-120px);
}

.icon_collection_5 {
    transform: rotate(45deg) translateY(-120px);
}

#icon-box-6 {
    transform: rotate(90deg) translateY(-120px);
}

.icon_collection_7 {
    transform: rotate(135deg) translateY(-120px);
}

.icon_collection_8 {
    transform: rotate(0deg) translateY(-120px);
}


#definition {
    font-weight: bold;
}

#personvern {
    background-color: lightcyan;
    margin: 60px 0px;
    padding: 50px;
}

#cookies-intro {
    background-color: var(--quinary-color);
    margin: 15px 0px;
    padding: 50px;
}

.videreføring {
    text-decoration: underline;
    color: darkblue;
}


#cookies {
    background-color: beige;
    padding: 50px;
    max-width: 800px;
    margin: 20px 0;
}

#arrow {
    height: 200px;
}

.hidden {
    display: none;
    /* Skjul elementer med denne klassen */
}